---
---

<header class="header">
  <a href="/" class="logo">
    <img src="/imagenes/logo.jpeg" alt="Sabokar" />
  </a>
  <link rel="icon" href="/imagenes/favicon.ico" sizes="any">
<link rel="icon" href="/imagenes/favicon.svg" type="image/svg+xml">

  <nav>
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/Nosotros">Nosotros</a></li>
      <li><a href="/Servicios">Servicios</a></li>
      <li><a href="/Productos">Productos</a></li>
      <li><a href="/Contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

